.jsa-hazards{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    justify-content: left;
    align-items: left;
}
.jsa-hazard-textbox{
    width: 400px;
    height: 50px;
}

.jsa-hazards-input-checkbox{
    display: flex;
    flex-direction: row;
}

.checkbox-label{
    display: flex;
    flexDirection: row;
}

.column1{
    white-space: nowrap;
}

.column2{
    padding-left: 10px;
}

.column3{
    position: relative;
    left: -370px;
    white-space: nowrap;
}
