.bid-work {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  justify-content: left;
  align-items: left;
  white-space: nowrap;
}

.employee-name {
  width: 500px;
}

.hours {
  width: 160px;
}

.job-number {
  width: 160px;
}
