.weather-delay {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
}

.weather-notes {
  width: 500px;
}

.weather-start {
  width: 160px;
}

.weather-end {
  width: 160px;
}
