.project-delay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-notes {
  width: 500px;
}
.project-start {
  width: 160px;
}

.project-end {
  width: 160px;
}
