.job-info-inputs {
  align-items: left;
  justify-content: left;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
}

.weather-delay-inputs {
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 20px;
}

.weather-delay-one {
  display: flex;
  flex-direction: row;
}

.weather-notes {
  width: 500px;
}

.weather-start {
  width: 160px;
}

.weather-end {
  width: 160px;
}

.project-delay-inputs {
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 20px;
}

.project-delay-one {
  display: flex;
  flex-direction: row;
}

.project-notes {
  width: 500px;
}

.project-start {
  width: 160px;
}

.project-end {
  width: 160px;
}

.bid-work-inputs {
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 20px;
}

.bid-work-one {
  display: flex;
  flex-direction: row;
}

.employee-name {
  width: 500px;
}

.hours {
  width: 160px;
}

.job-number {
  width: 160px;
}

.job-description-input {
  margin-top: 20px;
  margin-left: 20px;
  width: 820px;
  height: 75px;
}

.submit-button {
  margin-top: 20px;
  margin-left: 20px;
}

.retrieve-button {
  margin-top: 20px;
  margin-left: 20px;
}

/* .retrieve-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
