
.retrieve-report {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: large;
}

.return {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

/*
.return-weather {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}
.return-project {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

.return-employee {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}
*/
