.inspect-info {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 20px;
}

.info {
    padding-left: 20px;
}

.columns {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.column2{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.explain-defects {
    width: 500px;
    height: 100px;
}

.check-repair {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
