.jsa-info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.jsa-info-input{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.jsa-weather{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    top: -30px;
}

.jsa-weather-input{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.checkbox-label{
    display: flex;
    flexDirection: row;
}
.jsa-hazards{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: left;
    align-items: left;
}
.jsa-hazard-textbox{
    width: 400px;
    height: 50px;
}

.jsa-hazards-input-checkbox{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    paddding-bottom: 20px;
}

.checkbox-label{
    display: flex;
    flexDirection: row;
}

.column1{
    white-space: nowrap;
}

.column2{
    padding-left: 10px;
}

.column3{
    position: relative;
    left: -370px;
    white-space: nowrap;
}
.hazard-steps{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.hazardColumn {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 20px;
}

.textbox{
    height: 50px;
    width: 267px;
}

.JSABidwork-name {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: left;
  align-items: left;
  white-space: nowrap;
}
.JSABidwork-initals {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: left;
    align-items: left;
    white-space: nowrap;
}
