li {
  list-style: none;
}

nav {
  display: flex;
}

a {
  display: block;
}

.menu {
  background-color: black;
}

.link {
  display: block;
  padding-left: 8px;
  color: white;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px;
  color: white;
  cursor: pointer;
}

.menu-items {
  float: left;
}
